body {
	font-family: Arial, Helvetica, sans-serif;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}

.container {
	display: flex;
	flex-wrap: nowrap;
	position: relative;
	top: 200px;
	width: 1200px;
	height: 200px;
	margin: 0 auto;
	background-color: white;
	padding: 0;
}

.text-field {
	position: relative;
	width: 550px;
	height: 196px;
	background-color: ivory;
	margin: 0 auto;
	border: 2px solid grey;
}

.switch-lang {
	position: relative;
	padding: 0;
	margin: 0;
	width: 96px;
	height: 46px;
	border: none;
	background-color: white;
	font-size: 40px;
	font-weight: bold;
	cursor: pointer;
}

select {
	display: block;
	position: relative;
	top: 0;
	left: 1px;
	width: 320px;
	height: 44px;
	padding: 0 10px;
	background-color: ivory;
	font-size: 20px;
	font-weight: 400;
	text-transform: uppercase;
	text-align-last: center;
	color: grey;
	border: none;
	cursor: pointer;
	/* for Firefox */
	-moz-appearance: none;
	/* for Chrome */
	-webkit-appearance: none;
}

/* For IE10 */
select::-ms-expand {
	display: none;
}

#src-langs-list {
	float: right;
	margin-right: 2px;
	text-align-last: right;
}

#targ-langs-list {
	text-align-last: left;
}

option {
	text-align: left;
}

textarea {
	display: block;
	position: absolute;
	bottom: 0;
	margin-bottom: 1px;
	width: 542px;
	height: 146px;
	background-color: ivory;
	border: none;
	font-size: 20px;
	color: grey;
}

.output {
	margin-left:1px;
}

label {
	display: block;
	position: relative;
	top:160px;
}